body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.transparenttextures.com/patterns/dark-denim.png');
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
    color: #ffffff;
}

.info {
    margin-bottom: 30px;
}

.info p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #cccccc;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
    margin: 0 15px;
}

.social-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

.social-links ul li a:hover {
    color: #00aced;
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
    color: #777777;
}
